<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div class="mainpage__matchs">
    <article class="matchBlock">
        <div class="resultInfo">
            <div class="resultInfo__match">
                <div class="resultMatch__header">
                    <a class="resultMatch__header--more">Vòng loại</a>
                </div>
                <section class="resultMatch__info">
                    <div class="resultMatch__info--left">
                        <a href="" >
                            <div class="resultMatch__info--team1">
                                <div>17050303</div>
                                <div class="resultMatch__info--yellowCard">2</div>
                                <div class="resultMatch__info--redCard">2</div>
                                <div class="resultMatch__info--goalT1">
                                    <i class="fas fa-futbol"></i><span>3</span>
                                </div>
                            </div>
                            <div class="resultMatch__info--team2">
                                <div>17050302 - 17050302</div>
                                <div class="resultMatch__info--yellowCard">2</div>
                                <div class="resultMatch__info--redCard">1</div>
                                <div class="resultMatch__info--goalT2">
                                    <i class="fas fa-futbol"></i><span>2</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="resultMatch__info--right">
                        <a href="">
                            <div class="resultMatch__info--time">17:00</div>
                            <div class="resultMatch__info--date">11/12/2023</div>
                        </a>
                    </div>
                </section>
                <section class="resultMatch__info">
                    <div class="resultMatch__info--left">
                        <div class="resultMatch__info--team1">
                            <div><a href="">17050303</a></div>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">2</div>
                            <div class="resultMatch__info--goalT1">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                        <div class="resultMatch__info--team2">
                            <a href="">17050302</a>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">1</div>
                            <div class="resultMatch__info--goalT2">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                    </div>
                    <div class="resultMatch__info--right">
                        <div class="resultMatch__info--time">17:00</div>
                        <div class="resultMatch__info--date">11/12/2023</div>
                    </div>
                </section>
                <section class="resultMatch__info">
                    <div class="resultMatch__info--left">
                        <div class="resultMatch__info--team1">
                            <div><a href="">17050303</a></div>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">2</div>
                            <div class="resultMatch__info--goalT1">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                        <div class="resultMatch__info--team2">
                            <a href="">17050302</a>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">1</div>
                            <div class="resultMatch__info--goalT2">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                    </div>
                    <div class="resultMatch__info--right">
                        <div class="resultMatch__info--time">17:00</div>
                        <div class="resultMatch__info--date">11/12/2023</div>
                    </div>
                </section>
                <section class="resultMatch__info">
                    <div class="resultMatch__info--left">
                        <div class="resultMatch__info--team1">
                            <div><a href="">17050303</a></div>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">2</div>
                            <div class="resultMatch__info--goalT1">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                        <div class="resultMatch__info--team2">
                            <a href="">17050302</a>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">1</div>
                            <div class="resultMatch__info--goalT2">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                    </div>
                    <div class="resultMatch__info--right">
                        <div class="resultMatch__info--time">17:00</div>
                        <div class="resultMatch__info--date">11/12/2023</div>
                    </div>
                </section>
            </div>
        </div>
    </article>
    <article class="matchBlock">
        <!--  -->
        <!--  -->
        <div class="resultInfo">
            <div class="resultInfo__match">
                <div class="resultMatch__header">
                    <a class="resultMatch__header--more">Bảng A</a>
                </div>
                <section class="resultMatch__info">
                    <div class="resultMatch__info--left">
                        <div class="resultMatch__info--team1">
                            <div><a href="">17050303</a></div>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">2</div>
                            <div class="resultMatch__info--goalT1">
                                <i class="fas fa-futbol"></i><span>3</span>
                            </div>
                        </div>
                        <div class="resultMatch__info--team2">
                            <a href="">17050302</a>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">1</div>
                            <div class="resultMatch__info--goalT2">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                    </div>
                    <div class="resultMatch__info--right">
                        <div class="resultMatch__info--time">17:00</div>
                        <div class="resultMatch__info--date">11/12/2023</div>
                    </div>
                </section>
                <section class="resultMatch__info">
                    <div class="resultMatch__info--left">
                        <div class="resultMatch__info--team1">
                            <div><a href="">17050303</a></div>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">2</div>
                            <div class="resultMatch__info--goalT1">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                        <div class="resultMatch__info--team2">
                            <div class="resultMatch__info--teamBlock">
                                <span>17050303</span>
                                <span>17050303</span>
                            </div>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">1</div>
                            <div class="resultMatch__info--goalT2">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                    </div>
                    <div class="resultMatch__info--right">
                        <div class="resultMatch__info--time">17:00</div>
                        <div class="resultMatch__info--date">11/12/2023</div>
                    </div>
                </section>
                <section class="resultMatch__info">
                    <div class="resultMatch__info--left">
                        <div class="resultMatch__info--team1">
                            <div><a href="">17050303</a></div>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">2</div>
                            <div class="resultMatch__info--goalT1">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                        <div class="resultMatch__info--team2">
                            <a href="">17050302</a>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">1</div>
                            <div class="resultMatch__info--goalT2">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                    </div>
                    <div class="resultMatch__info--right">
                        <div class="resultMatch__info--time">17:00</div>
                        <div class="resultMatch__info--date">11/12/2023</div>
                    </div>
                </section>
                <section class="resultMatch__info">
                    <div class="resultMatch__info--left">
                        <div class="resultMatch__info--team1">
                            <div><a href="">17050303</a></div>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">2</div>
                            <div class="resultMatch__info--goalT1">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                        <div class="resultMatch__info--team2">
                            <a href="">17050302</a>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">1</div>
                            <div class="resultMatch__info--goalT2">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                    </div>
                    <div class="resultMatch__info--right">
                        <div class="resultMatch__info--time">17:00</div>
                        <div class="resultMatch__info--date">11/12/2023</div>
                    </div>
                </section>
            </div>
        </div>
        <div class="resultInfo">
            <div class="resultInfo__match">
                <div class="resultMatch__header">
                    <a class="resultMatch__header--more">Bảng B</a>
                </div>
                <section class="resultMatch__info">
                    <div class="resultMatch__info--left">
                        <div class="resultMatch__info--team1">
                            <div><a href="">17050303</a></div>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">2</div>
                            <div class="resultMatch__info--goalT1">
                                <i class="fas fa-futbol"></i><span>3</span>
                            </div>
                        </div>
                        <div class="resultMatch__info--team2">
                            <a href="">17050302</a>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">1</div>
                            <div class="resultMatch__info--goalT2">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                    </div>
                    <div class="resultMatch__info--right">
                        <div class="resultMatch__info--time">17:00</div>
                        <div class="resultMatch__info--date">11/12/2023</div>
                    </div>
                </section>
                <section class="resultMatch__info">
                    <div class="resultMatch__info--left">
                        <div class="resultMatch__info--team1">
                            <div><a href="">17050303</a></div>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">2</div>
                            <div class="resultMatch__info--goalT1">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                        <div class="resultMatch__info--team2">
                            <a href="">17050302</a>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">1</div>
                            <div class="resultMatch__info--goalT2">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                    </div>
                    <div class="resultMatch__info--right">
                        <div class="resultMatch__info--time">17:00</div>
                        <div class="resultMatch__info--date">11/12/2023</div>
                    </div>
                </section>
                <section class="resultMatch__info">
                    <div class="resultMatch__info--left">
                        <div class="resultMatch__info--team1">
                            <div><a href="">17050303</a></div>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">2</div>
                            <div class="resultMatch__info--goalT1">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                        <div class="resultMatch__info--team2">
                            <a href="">17050302</a>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">1</div>
                            <div class="resultMatch__info--goalT2">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                    </div>
                    <div class="resultMatch__info--right">
                        <div class="resultMatch__info--time">17:00</div>
                        <div class="resultMatch__info--date">11/12/2023</div>
                    </div>
                </section>
                <section class="resultMatch__info">
                    <div class="resultMatch__info--left">
                        <div class="resultMatch__info--team1">
                            <div><a href="">17050303</a></div>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">2</div>
                            <div class="resultMatch__info--goalT1">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                        <div class="resultMatch__info--team2">
                            <a href="">17050302</a>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">1</div>
                            <div class="resultMatch__info--goalT2">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                    </div>
                    <div class="resultMatch__info--right">
                        <div class="resultMatch__info--time">17:00</div>
                        <div class="resultMatch__info--date">11/12/2023</div>
                    </div>
                </section>
            </div>
        </div>
        <div class="resultInfo">
            <div class="resultInfo__match">
                <div class="resultMatch__header">
                    <a class="resultMatch__header--more">Bảng A</a>
                </div>
                <section class="resultMatch__info">
                    <div class="resultMatch__info--left">
                        <div class="resultMatch__info--team1">
                            <div><a href="">17050303</a></div>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">2</div>
                            <div class="resultMatch__info--goalT1">
                                <i class="fas fa-futbol"></i><span>3</span>
                            </div>
                        </div>
                        <div class="resultMatch__info--team2">
                            <a href="">17050302</a>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">1</div>
                            <div class="resultMatch__info--goalT2">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                    </div>
                    <div class="resultMatch__info--right">
                        <div class="resultMatch__info--time">17:00</div>
                        <div class="resultMatch__info--date">11/12/2023</div>
                    </div>
                </section>
                <section class="resultMatch__info">
                    <div class="resultMatch__info--left">
                        <div class="resultMatch__info--team1">
                            <div><a href="">17050303</a></div>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">2</div>
                            <div class="resultMatch__info--goalT1">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                        <div class="resultMatch__info--team2">
                            <a href="">17050302</a>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">1</div>
                            <div class="resultMatch__info--goalT2">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                    </div>
                    <div class="resultMatch__info--right">
                        <div class="resultMatch__info--time">17:00</div>
                        <div class="resultMatch__info--date">11/12/2023</div>
                    </div>
                </section>
                <section class="resultMatch__info">
                    <div class="resultMatch__info--left">
                        <div class="resultMatch__info--team1">
                            <div><a href="">17050303</a></div>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">2</div>
                            <div class="resultMatch__info--goalT1">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                        <div class="resultMatch__info--team2">
                            <a href="">17050302</a>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">1</div>
                            <div class="resultMatch__info--goalT2">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                    </div>
                    <div class="resultMatch__info--right">
                        <div class="resultMatch__info--time">17:00</div>
                        <div class="resultMatch__info--date">11/12/2023</div>
                    </div>
                </section>
                <section class="resultMatch__info">
                    <div class="resultMatch__info--left">
                        <div class="resultMatch__info--team1">
                            <div><a href="">17050303</a></div>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">2</div>
                            <div class="resultMatch__info--goalT1">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                        <div class="resultMatch__info--team2">
                            <a href="">17050302</a>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">1</div>
                            <div class="resultMatch__info--goalT2">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                    </div>
                    <div class="resultMatch__info--right">
                        <div class="resultMatch__info--time">17:00</div>
                        <div class="resultMatch__info--date">11/12/2023</div>
                    </div>
                </section>
            </div>
        </div>
        <div class="resultInfo">
            <div class="resultInfo__match">
                <div class="resultMatch__header">
                    <a class="resultMatch__header--more">Bảng B</a>
                </div>
                <section class="resultMatch__info">
                    <div class="resultMatch__info--left">
                        <div class="resultMatch__info--team1">
                            <div><a href="">17050303</a></div>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">2</div>
                            <div class="resultMatch__info--goalT1">
                                <i class="fas fa-futbol"></i><span>3</span>
                            </div>
                        </div>
                        <div class="resultMatch__info--team2">
                            <a href="">17050302</a>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">1</div>
                            <div class="resultMatch__info--goalT2">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                    </div>
                    <div class="resultMatch__info--right">
                        <div class="resultMatch__info--time">17:00</div>
                        <div class="resultMatch__info--date">11/12/2023</div>
                    </div>
                </section>
                <section class="resultMatch__info">
                    <div class="resultMatch__info--left">
                        <div class="resultMatch__info--team1">
                            <div><a href="">17050303</a></div>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">2</div>
                            <div class="resultMatch__info--goalT1">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                        <div class="resultMatch__info--team2">
                            <a href="">17050302</a>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">1</div>
                            <div class="resultMatch__info--goalT2">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                    </div>
                    <div class="resultMatch__info--right">
                        <div class="resultMatch__info--time">17:00</div>
                        <div class="resultMatch__info--date">11/12/2023</div>
                    </div>
                </section>
                <section class="resultMatch__info">
                    <div class="resultMatch__info--left">
                        <div class="resultMatch__info--team1">
                            <div><a href="">17050303</a></div>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">2</div>
                            <div class="resultMatch__info--goalT1">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                        <div class="resultMatch__info--team2">
                            <a href="">17050302</a>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">1</div>
                            <div class="resultMatch__info--goalT2">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                    </div>
                    <div class="resultMatch__info--right">
                        <div class="resultMatch__info--time">17:00</div>
                        <div class="resultMatch__info--date">11/12/2023</div>
                    </div>
                </section>
                <section class="resultMatch__info">
                    <div class="resultMatch__info--left">
                        <div class="resultMatch__info--team1">
                            <div><a href="">17050303</a></div>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">2</div>
                            <div class="resultMatch__info--goalT1">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                        <div class="resultMatch__info--team2">
                            <a href="">17050302</a>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">1</div>
                            <div class="resultMatch__info--goalT2">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                    </div>
                    <div class="resultMatch__info--right">
                        <div class="resultMatch__info--time">17:00</div>
                        <div class="resultMatch__info--date">11/12/2023</div>
                    </div>
                </section>
            </div>
        </div>
        <div class="resultInfo">
            <div class="resultInfo__match">
                <div class="resultMatch__header">
                    <a class="resultMatch__header--more">Bảng A</a>
                </div>
                <section class="resultMatch__info">
                    <div class="resultMatch__info--left">
                        <div class="resultMatch__info--team1">
                            <div><a href="">17050303</a></div>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">2</div>
                            <div class="resultMatch__info--goalT1">
                                <i class="fas fa-futbol"></i><span>3</span>
                            </div>
                        </div>
                        <div class="resultMatch__info--team2">
                            <a href="">17050302</a>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">1</div>
                            <div class="resultMatch__info--goalT2">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                    </div>
                    <div class="resultMatch__info--right">
                        <div class="resultMatch__info--time">17:00</div>
                        <div class="resultMatch__info--date">11/12/2023</div>
                    </div>
                </section>
                <section class="resultMatch__info">
                    <div class="resultMatch__info--left">
                        <div class="resultMatch__info--team1">
                            <div><a href="">17050303</a></div>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">2</div>
                            <div class="resultMatch__info--goalT1">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                        <div class="resultMatch__info--team2">
                            <a href="">17050302</a>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">1</div>
                            <div class="resultMatch__info--goalT2">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                    </div>
                    <div class="resultMatch__info--right">
                        <div class="resultMatch__info--time">17:00</div>
                        <div class="resultMatch__info--date">11/12/2023</div>
                    </div>
                </section>
                <section class="resultMatch__info">
                    <div class="resultMatch__info--left">
                        <div class="resultMatch__info--team1">
                            <div><a href="">17050303</a></div>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">2</div>
                            <div class="resultMatch__info--goalT1">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                        <div class="resultMatch__info--team2">
                            <a href="">17050302</a>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">1</div>
                            <div class="resultMatch__info--goalT2">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                    </div>
                    <div class="resultMatch__info--right">
                        <div class="resultMatch__info--time">17:00</div>
                        <div class="resultMatch__info--date">11/12/2023</div>
                    </div>
                </section>
                <section class="resultMatch__info">
                    <div class="resultMatch__info--left">
                        <div class="resultMatch__info--team1">
                            <div><a href="">17050303</a></div>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">2</div>
                            <div class="resultMatch__info--goalT1">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                        <div class="resultMatch__info--team2">
                            <a href="">17050302</a>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">1</div>
                            <div class="resultMatch__info--goalT2">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                    </div>
                    <div class="resultMatch__info--right">
                        <div class="resultMatch__info--time">17:00</div>
                        <div class="resultMatch__info--date">11/12/2023</div>
                    </div>
                </section>
            </div>
        </div>
        <div class="resultInfo">
            <div class="resultInfo__match">
                <div class="resultMatch__header">
                    <a class="resultMatch__header--more">Bảng B</a>
                </div>
                <section class="resultMatch__info">
                    <div class="resultMatch__info--left">
                        <div class="resultMatch__info--team1">
                            <div><a href="">17050303</a></div>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">2</div>
                            <div class="resultMatch__info--goalT1">
                                <i class="fas fa-futbol"></i><span>3</span>
                            </div>
                        </div>
                        <div class="resultMatch__info--team2">
                            <a href="">17050302</a>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">1</div>
                            <div class="resultMatch__info--goalT2">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                    </div>
                    <div class="resultMatch__info--right">
                        <div class="resultMatch__info--time">17:00</div>
                        <div class="resultMatch__info--date">11/12/2023</div>
                    </div>
                </section>
                <section class="resultMatch__info">
                    <div class="resultMatch__info--left">
                        <div class="resultMatch__info--team1">
                            <div><a href="">17050303</a></div>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">2</div>
                            <div class="resultMatch__info--goalT1">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                        <div class="resultMatch__info--team2">
                            <a href="">17050302</a>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">1</div>
                            <div class="resultMatch__info--goalT2">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                    </div>
                    <div class="resultMatch__info--right">
                        <div class="resultMatch__info--time">17:00</div>
                        <div class="resultMatch__info--date">11/12/2023</div>
                    </div>
                </section>
                <section class="resultMatch__info">
                    <div class="resultMatch__info--left">
                        <div class="resultMatch__info--team1">
                            <div><a href="">17050303</a></div>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">2</div>
                            <div class="resultMatch__info--goalT1">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                        <div class="resultMatch__info--team2">
                            <a href="">17050302</a>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">1</div>
                            <div class="resultMatch__info--goalT2">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                    </div>
                    <div class="resultMatch__info--right">
                        <div class="resultMatch__info--time">17:00</div>
                        <div class="resultMatch__info--date">11/12/2023</div>
                    </div>
                </section>
                <section class="resultMatch__info">
                    <div class="resultMatch__info--left">
                        <div class="resultMatch__info--team1">
                            <div><a href="">17050303</a></div>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">2</div>
                            <div class="resultMatch__info--goalT1">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                        <div class="resultMatch__info--team2">
                            <a href="">17050302</a>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">1</div>
                            <div class="resultMatch__info--goalT2">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                    </div>
                    <div class="resultMatch__info--right">
                        <div class="resultMatch__info--time">17:00</div>
                        <div class="resultMatch__info--date">11/12/2023</div>
                    </div>
                </section>
            </div>
        </div>
        <div class="resultInfo">
            <div class="resultInfo__match">
                <div class="resultMatch__header">
                    <a class="resultMatch__header--more">Bảng A</a>
                </div>
                <section class="resultMatch__info">
                    <div class="resultMatch__info--left">
                        <div class="resultMatch__info--team1">
                            <div><a href="">17050303</a></div>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">2</div>
                            <div class="resultMatch__info--goalT1">
                                <i class="fas fa-futbol"></i><span>3</span>
                            </div>
                        </div>
                        <div class="resultMatch__info--team2">
                            <a href="">17050302</a>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">1</div>
                            <div class="resultMatch__info--goalT2">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                    </div>
                    <div class="resultMatch__info--right">
                        <div class="resultMatch__info--time">17:00</div>
                        <div class="resultMatch__info--date">11/12/2023</div>
                    </div>
                </section>
                <section class="resultMatch__info">
                    <div class="resultMatch__info--left">
                        <div class="resultMatch__info--team1">
                            <div><a href="">17050303</a></div>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">2</div>
                            <div class="resultMatch__info--goalT1">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                        <div class="resultMatch__info--team2">
                            <a href="">17050302</a>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">1</div>
                            <div class="resultMatch__info--goalT2">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                    </div>
                    <div class="resultMatch__info--right">
                        <div class="resultMatch__info--time">17:00</div>
                        <div class="resultMatch__info--date">11/12/2023</div>
                    </div>
                </section>
                <section class="resultMatch__info">
                    <div class="resultMatch__info--left">
                        <div class="resultMatch__info--team1">
                            <div><a href="">17050303</a></div>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">2</div>
                            <div class="resultMatch__info--goalT1">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                        <div class="resultMatch__info--team2">
                            <a href="">17050302</a>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">1</div>
                            <div class="resultMatch__info--goalT2">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                    </div>
                    <div class="resultMatch__info--right">
                        <div class="resultMatch__info--time">17:00</div>
                        <div class="resultMatch__info--date">11/12/2023</div>
                    </div>
                </section>
                <section class="resultMatch__info">
                    <div class="resultMatch__info--left">
                        <div class="resultMatch__info--team1">
                            <div><a href="">17050303</a></div>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">2</div>
                            <div class="resultMatch__info--goalT1">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                        <div class="resultMatch__info--team2">
                            <a href="">17050302</a>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">1</div>
                            <div class="resultMatch__info--goalT2">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                    </div>
                    <div class="resultMatch__info--right">
                        <div class="resultMatch__info--time">17:00</div>
                        <div class="resultMatch__info--date">11/12/2023</div>
                    </div>
                </section>
            </div>
        </div>
        <div class="resultInfo">
            <div class="resultInfo__match">
                <div class="resultMatch__header">
                    <a class="resultMatch__header--more">Bảng B</a>
                </div>
                <section class="resultMatch__info">
                    <div class="resultMatch__info--left">
                        <div class="resultMatch__info--team1">
                            <div><a href="">17050303</a></div>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">2</div>
                            <div class="resultMatch__info--goalT1">
                                <i class="fas fa-futbol"></i><span>3</span>
                            </div>
                        </div>
                        <div class="resultMatch__info--team2">
                            <a href="">17050302</a>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">1</div>
                            <div class="resultMatch__info--goalT2">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                    </div>
                    <div class="resultMatch__info--right">
                        <div class="resultMatch__info--time">17:00</div>
                        <div class="resultMatch__info--date">11/12/2023</div>
                    </div>
                </section>
                <section class="resultMatch__info">
                    <div class="resultMatch__info--left">
                        <div class="resultMatch__info--team1">
                            <div><a href="">17050303</a></div>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">2</div>
                            <div class="resultMatch__info--goalT1">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                        <div class="resultMatch__info--team2">
                            <a href="">17050302</a>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">1</div>
                            <div class="resultMatch__info--goalT2">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                    </div>
                    <div class="resultMatch__info--right">
                        <div class="resultMatch__info--time">17:00</div>
                        <div class="resultMatch__info--date">11/12/2023</div>
                    </div>
                </section>
                <section class="resultMatch__info">
                    <div class="resultMatch__info--left">
                        <div class="resultMatch__info--team1">
                            <div><a href="">17050303</a></div>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">2</div>
                            <div class="resultMatch__info--goalT1">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                        <div class="resultMatch__info--team2">
                            <a href="">17050302</a>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">1</div>
                            <div class="resultMatch__info--goalT2">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                    </div>
                    <div class="resultMatch__info--right">
                        <div class="resultMatch__info--time">17:00</div>
                        <div class="resultMatch__info--date">11/12/2023</div>
                    </div>
                </section>
                <section class="resultMatch__info">
                    <div class="resultMatch__info--left">
                        <div class="resultMatch__info--team1">
                            <div><a href="">17050303</a></div>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">2</div>
                            <div class="resultMatch__info--goalT1">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                        <div class="resultMatch__info--team2">
                            <a href="">17050302</a>
                            <div class="resultMatch__info--yellowCard">2</div>
                            <div class="resultMatch__info--redCard">1</div>
                            <div class="resultMatch__info--goalT2">
                                <i class="fas fa-futbol"></i><span>2</span>
                            </div>
                        </div>
                    </div>
                    <div class="resultMatch__info--right">
                        <div class="resultMatch__info--time">17:00</div>
                        <div class="resultMatch__info--date">11/12/2023</div>
                    </div>
                </section>
            </div>
        </div>
    </article>
</div>
</html>