<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head :: head}" />
<body>
<header th:replace="~{fragments/header :: header}" />
<nav th:replace="~{fragments/navbar :: nav}" />
<main id="teamInfoManager" class="confirmTeamInfo__container">
    <div class="confirmTeamInfo">
        <div class="confirmTeamInfo__title">Thông tin đội bóng</div>
        <div class="confirmTeamInfo__team">
            <button type="button" class="btn btn-secondary" th:if="${team != null and team.class2 != ''}" th:text="${team.class1}+' - '+${team.class2}" disabled>
            </button>
            <button type="button" class="btn btn-secondary" th:unless="${team != null and team.class2 != ''}" th:text="${team.class1}" disabled>
            </button>
        </div>
        <input type="radio" name="content" id="teamInfoPlayers" checked />
        <input type="radio" name="content" id="teamInfoMatchs" />
        <input type="radio" name="content" id="teamInfoAchieve" />
        <div class="confirmTeamInfo__tab">
            <nav>
                <ul>
                    <li data-input="teamInfoPlayers">
                        <label for="teamInfoPlayers">
                            <i class="bi bi-people-fill"></i><span>Thành viên</span>
                        </label>
                    </li>
                    <li data-input="teamInfoMatchs">
                        <label for="teamInfoMatchs">
                            <i class="bi bi-calendar-fill"></i>
                            <span>Lịch thi đấu</span>
                        </label>
                    </li>
                    <li data-input="teamInfoAchieve">
                        <label for="teamInfoAchieve">
                            <i class="bi bi-calendar-fill"></i>
                            <span>Thành tích</span>
                        </label>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="confirmTeamInfo__main">
            <div th:replace="~{fragments/teamInfoPlayerManager :: div}" />
            <div th:replace="~{fragments/teamInfoMatch :: div}" />
            <div th:replace="~{fragments/teamInfoAchieve :: div}" />
        </div>
    </div>
</main>

<!-- modal acept -->
<div
        class="modal fade"
        id="confirmTeamInfo__acept"
        tabindex="-1"
        aria-labelledby="confirmTeamInfo__aceptLabel"
        aria-hidden="true"
>
    <div class="confirmTeam__dialog modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5
                        class="confirmTeamInfo__modal--title modal-title"
                        id="confirmTeamInfo__aceptLabel"
                >Duyệt đội tham gia
                </h5>
                <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                ></button>
            </div>
            <div class="modal-footer confirmTeamInfo__modal--button">
                <button type="submit" class="btn btn-primary" onclick="aceptTeam()">Xác nhận</button>
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >Hủy
                </button>
            </div>
        </div>
    </div>
</div>

<!-- modal refuse -->
<div
        class="modal fade"
        id="confirmTeamInfo__refuse"
        tabindex="-1"
        aria-labelledby="confirmTeamInfo__refuseLabel"
        aria-hidden="true"
>
    <div class="confirmTeamInfo__dialog modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5
                        class="confirmTeamInfo__modal--title modal-title"
                        id="confirmTeamInfo__closeLabel"
                >Từ chối đội tham gia
                </h5>
                <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                ></button>
            </div>
            <div class="modal-footer confirmTeamInfo__modal--button">
                <button type="submit" class="btn btn-primary" onclick="refusePlayers()">Xác nhận</button>
                <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                >
                    Hủy
                </button>
            </div>
        </div>
    </div>
</div>

<!-- modal out player -->
<div
    class="modal fade"
    id="confirmTeamInfo__outPlayers"
    tabindex="-1"
    aria-labelledby="confirmTeamInfo__outPlayersLabel"
    aria-hidden="true"
>
    <div class="confirmTeamInfo__dialog modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5
                    class="confirmTeamInfo__modal--title modal-title"
                    id="confirmTeamInfo__outPlayersLabel"
                >Xác nhận thành viên
                </h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body modal-small">
                <span class="confirmTeam__modal--error">
                </span>
            </div>
            <div class="modal-footer confirmTeamInfo__modal--button">
                <button type="submit" class="btn btn-primary" onclick="cancelPlayers()">Xác nhận</button>
                <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                >Hủy
                </button>
            </div>
        </div>
    </div>
</div>

<!-- modal acept team inprogress-->
<div
    class="modal fade"
    id="confirmTeamInfo__aceptTeam"
    tabindex="-1"
    aria-labelledby="confirmTeamInfo__aceptTeamLabel"
    aria-hidden="true"
>
    <div class="confirmTeamInfo__dialog modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5
                    class="confirmTeamInfo__modal--title modal-title"
                    id="confirmTeamInfo__aceptTeamLabel"
                >Cho phép đội tiếp tục thi đấu
                </h5>
                <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                ></button>
            </div>
            <div class="modal-body modal-small">
            </div>
            <div class="modal-footer confirmTeamInfo__modal--button">
                <button type="submit" class="btn btn-primary"onclick="aceptTeamInprogress()">Xác nhận</button>
                <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                >Hủy
                </button>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{fragments/footer :: footer}" />
<script th:src="@{/js/script.js}"></script>
</body>
</html>